<div class="info-column">
  <img src="assets/img/logo.png" alt="logo">
  <div class="address sans row-text">Metairie, 3689  Bassel Street, LA, Louisiana</div>
  <div class="phone sans row-text">Contact us: 225-788-5489</div>
  <div class="social-networks d-flex">
    <a href="https://facebook.com/"><img src="assets/img/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com/"><img src="assets/img/instagram.png" alt="instagram"></a>
    <a href="https://twitter.com/"><img src="assets/img/twitter.png" alt="twitter"></a>
    <a href="https://youtube.com/"><img src="assets/img/youtube.png" alt="youtube"></a>
  </div>
</div>
