<div class="best-quality-wrapper d-flex">
  <div class="best-quality-picture">
    <img src="assets/img/quality-doctor.png" alt="quality doctor picture">
  </div>
  <div class="best-quality-item">
    <div class="basic-title">Best quality service with our experience
      doctors</div>
    <div class="best-quality-item-description basic-description">With our top doctors, we are able to provide best medical services above average We have highly experienced doctors, so don't worry They are also very talented in their fields</div>
    <div class="best-quality-item-marked roboto">
      <p>Search your specialist & Online consultations anywhere</p>
      <p>Consultation our top specialists</p>
      <p>Doctors are available 24/7</p>
    </div>
    <button
      [routerLink]="['doctors']"
      class="explore-button explore-specialist roboto"
    >Explore specialists <img class="explore-button-img" src="assets/img/white-arrow.png" alt="loop"></button>
  </div>
</div>
