<div class="mobile-wrapper back-color d-flex">
  <img src="assets/img/apps-picture.png" alt="apps-picture">
  <div class="mobile-text-block">
    <div class="mobile-title basic-title">Mobile apps are available! Get HealthCare for free!</div>
    <div class="mobile-description basic-description">Get on-demand access to a doctor on your phone with the free HealthCare mobile app. Download and register on our app for free and feel safe for all your family</div>
    <div class="mobile-markets">
      <a href="https://play.google.com/"><img class="playmarket" src="assets/img/googleplay.png" alt="playmarket logo"></a>
      <a href="https://www.apple.com/ua/app-store/"><img src="assets/img/appstore.png" alt="appstore logo"></a>
    </div>
  </div>
</div>
